<h1> hallelujah a new OUTFIT form</h1>
<%= form_for @outfit do |f| %>
  <%= f.text_field :name, placeholder: "Name" %>
  <%= f.text_field :tag, placeholder: "Tag" %>
  <%= f.submit "Create Outfit" %>
<% end %>
