<div class='landing'>
  <div class='background'>
    <div class="brand-logo-landing">
      Outfitter
    </div>                    
    <p class="container landing-page-item">Outfitter helps organize your closet and plan what outfit to wear ahead of time. Express yourself and have fun exploring new outfit combinations.</p>
    <span class='start'>
      <%= link_to "Digitize your wardrobe", outfits_path, class:'get-started btn'%>
    </span>
  </div>
</div>