<%= render "shared/header" %>

<div class='landing'>
  <div class='start'>
    <%= link_to "GET STARTED", outfits_path %>
  </div>
  <div class = 'background'>
    <%= image_tag("coats.jpg") %>
  </div>
</div>
