
<div class='landing'>
  <div class = 'background'>
      <div href="/items" class="brand-logo">
        Outfitter
      </div>
    <div class='Hero-Text'>
      <h4> Welcome your digital closet </h4>
    </div>
    <span class='start'>
      <%= link_to "CLICK HERE TO GET STARTED", outfits_path, class:'get-started'%>
    </span>
  </div>
</div>
