<%= render "shared/header" %>

<div class='landing'>
  <div class = 'background'>
    <div class = 'Hero Text'>
      <h1> Welcome to Outfitters </h1>
    </div>
    <span class='start'>
      <%= link_to "GET STARTED", outfits_path %>
    </span>
  </div>
</div>
