<div class="col s12 m7 builder">
    <div class="row build center-align">
        <p>Click an item in your closet to add to outfit!</p>
        <div class="col s12 m6">
            <div id="shirt-target" class="canvas img">
            </div>
            <div id="shoes-target" class="canvas img">
            </div>
        </div>
        <div class="col s12 m6">
            <div id="pants-target" class="canvas img">
            </div>
        </div>
    </div>

</div>
