<div class="col s12 m7 builder">
    <div class="row build center-align">
        <h5 class="">plan your outfit</h5>
        <p>here is where I describe what to do</p>
        <div class="col s12 m6">
            <div id="shirt-target" class="canvas img">
                <img src="images/shirt.png">
            </div>
            <div id="shoes-target" class="canvas img">
                <img src="images/shoes.png">
            </div>
        </div>
        <div class="col s12 m6">
            <div id="pants-target" class="canvas img">
                <img src="images/jeans.png">
            </div>
        </div>
    </div>

</div>
