<nav class="nav header">
    <div class="nav-wrapper">
        <a href="#" class="brand-logo">Outfitter</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><%= link_to "All Items", items_path %></li>
            <li><%= link_to "New Item", new_item_path %></li>
            <li><%= link_to "All Outfits", outfits_path %></li>
            <li><%= link_to "New Outfit", new_outfit_path %></li>


        </ul>
        <a href="#" data-activities="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
</nav>
