<%= render "shared/header" %>
<!-- main container -->
<div class="container-fluid">
  <div class="row main">
    <div class="col s12 m1">

    </div>
    <div class="col s12 m10 sidebar">
    <%= render "shared/closet" %>
    </div>
    <div class="col s12 m1">

    </div>
  </div>
</div>
